<% add_decidim_page_title(t(".title")) %>
<%= decidim_form_for(@form, url: share_tokens_path(:update, id: current_token), html: { class: "form-defaults form edit_share_token" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">
        <div class="flex--sbc">
          <%= t ".title", name: resource_title %>
          <%= link_to :back do %>
            <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
            <%= t("share_tokens.index.back_to_share_tokens", scope: "decidim.admin") %>
          <% end %>
        </div>
      </h2>
    </div>
    <div class="card-section">
      <div class="row column">
        <label for="share_token-token"><%= t("token", scope: "decidim.admin.models.share_token.fields") %></label>
        <div class="input-group">
          <%= text_field_tag :token, current_token.token, id: "share_token-token", aria: { label: t("token", scope: "decidim.admin.models.share_token.fields") }, disabled: true, class: "input-group-field mb-none" %>
          <div class="input-group-button">
            <button type="button" class="button" data-clipboard-copy="#share_token-token" data-clipboard-content="<%= current_token.url %>" data-clipboard-copy-label="<%= t("copied", scope: "decidim.admin.share_tokens.index") %>" data-clipboard-copy-message="<%= t("copy_message", scope: "decidim.admin.share_tokens.index") %>">
              <%= t("actions.copy_link", scope: "decidim.admin.share_tokens") %>
            </button>
          </div>
        </div>
      </div>
      <%= render partial: "form", object: f %>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit t(".update") %>
  </div>
<% end %>
