<p class="email-greeting"><%= t ".hello" %></p>

<p class="email-instructions">
  <span><%= t ".body_1", reason: h(@reason.join(", ")) %>: </span>
  <span><strong><%= translated_attribute(@resource.title) %></strong></span>
</p>

<p class="email-instructions">
  <span><%= t ".body_2" %></span>
  <span><%= link_to @organization.name, decidim.root_url(host: @organization.host).html_safe %></span>
</p>
